<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- 华为云镜像 -->
    <add key="huaweicloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
    <!-- 腾讯云镜像 -->
    <add key="tencentcloud" value="https://mirrors.cloud.tencent.com/nuget/" />
    <!-- 官方源作为备用 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>