name: publish

on:
  push:
    tags:
      - "*"

env:
  PROJECT_NAME: "ASF-Bot.Telegram"
  CONFIGURATION: Release
  DOTNET_SDK_VERSION: 10.0.x
  RUNTIME_LIST: "win-x64,win-arm64,linux-x64,linux-arm,linux-arm64"
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        framework: [net8.0, net9.0, net10.0]

    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:
          submodules: recursive

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ env.DOTNET_SDK_VERSION }}

      - name: Verify .NET Core
        run: dotnet --info

      - name: Prepare for publishing ${{ env.PROJECT_NAME }}
        shell: pwsh
        run: |
          dotnet restore ${{ env.PROJECT_NAME }}
          dotnet build ${{ env.PROJECT_NAME }} -c ${{ env.CONFIGURATION }} --no-restore --nologo

      - name: Publish ${{ env.PROJECT_NAME }} via ${{ matrix.framework }}
        shell: pwsh
        run: |
          $runtimes = "${{ env.RUNTIME_LIST }}".Split(',')
          $framework = "${{ matrix.framework }}"
          $config = "${{ env.CONFIGURATION}}"
          $projectName = "${{ env.PROJECT_NAME }}"

          foreach ($runtime in $runtimes) {
            Write-Debug "Publishing for runtime: $runtime and framework: $framework"
            $buildName = "$projectName-$runtime-$framework"
            $outputDir = "./tmp/$buildName"

            dotnet publish $projectName --output "$outputDir" --self-contained --runtime $runtime --framework $framework --configuration $config --no-restore --nologo -p:PublishTrimmed=false -p:PublishReadyToRun=false -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -p:ContinuousIntegrationBuild=true -p:UseAppHost=true
            dotnet publish $projectName --output "$outputDir" --no-self-contained --runtime $runtime --framework $framework --configuration $config --no-restore --nologo -p:PublishTrimmed=false -p:PublishReadyToRun=false -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -p:ContinuousIntegrationBuild=true -p:UseAppHost=true

            Remove-Item "$outputDir-fde/*.xml"
            Remove-Item "$outputDir/*.xml"

            7z a -bd -slp -tzip -mm=Deflate -mx=5 -mfb=150 -mpass=10 "./dist/$buildName-fde.zip" "$outputDir/*"
            7z a -bd -slp -tzip -mm=Deflate -mx=5 -mfb=150 -mpass=10 "./dist/$buildName.zip" "$outputDir/*"
          }

      - name: Upload ${{ env.PROJECT_NAME }} via ${{ matrix.framework }}
        continue-on-error: true
        uses: actions/upload-artifact@v5.0.0
        with:
          name: ${{ matrix.framework }}-Build-Artifacts
          path: ./dist/*.zip

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.1

      - name: Download all artifacts
        uses: actions/download-artifact@v5.0.0
        with:
          name: net8.0-Build-Artifacts
          path: out

      - name: Download all artifacts
        uses: actions/download-artifact@v5.0.0
        with:
          name: net9.0-Build-Artifacts
          path: out

      - name: Download all artifacts
        uses: actions/download-artifact@v5.0.0
        with:
          name: net10.0-Build-Artifacts
          path: out

      - name: Create ${{ env.PROJECT_NAME }} GitHub release
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "out/*"
          makeLatest: false
          prerelease: true
          tag: ${{ github.ref_name }}
          name: ${{ env.PROJECT_NAME }} ${{ github.ref_name }}
          body: |
            # 更新说明
            ![ASF.Bot Release](https://img.shields.io/badge/ASF-Bot-${{ github.ref_name }}-brightgreen) ![Downloads](https://img.shields.io/github/downloads/chr233/ASF-Bot.Telegram/${{ github.ref_name }}/total?label=Downloads)

            release created by github actions

            ---

            > 带 `fde` 表示可执行文件内置 .net 框架, 可以脱离框架运行, 但是体积比较大
            > 如果电脑上已经安装过 .net 框架, 可以下载不带 `fde` 的版本, 节约硬盘空间
